{% extends 'base.html' %}

{% block title %} Secret {% endblock %}

{% block content %} 

    <h1 class="my-0">{{ user.first_name }} {{ user.last_name }}</h1>
    <span class="sm grey">{{ user.username }}</span>
    <div class="d-flex my-4">
        <a href="/users/{{user.username}}/delete" class="btn btn-primary mx-1">Delete User</a>
        <a href="/users/{{user.username}}/feedback/add" class="btn btn-danger mx-1">Add Feedback</a>
    </div>

    <div class="align-items-center">
    {% for f in feedback %}
        <div class="card w-80">
            <div class="card-body">
              <h5 class="card-title">{{ f.title }}</h5>
              <p class="card-text">{{ f.content }}</p>
              <a href="/feedback/{{ f.id }}/update" class="btn btn-primary">Edit</a>
              <a href="/feedback/{{ f.id }}/delete" class="btn btn-danger">Delete</a>
            </div>
        </div>
    {% endfor %}
    </div>



{% endblock %}