{% extends 'base.html' %}

{% block title %} Update Feedback {% endblock %}

{% block content %} 

<h1>Update {{review.title}}</h1>

<div class="col-md-8 align-items-center">

<form id="feedback" method="POST">
    {{ form.hidden_tag() }}
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field (class="form-control") }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button class="btn btn-md success" type="submit">Submit</button>

  </form>

</div>


{% endblock %}